<form id="frmLogin" method="post">
    <div class="mb-1">
        <label for="txtUsuario">Usuario:</label>
        <input type="text" class="form-control" id="txtUsuario" name="txtUsuario" spellcheck="false" autocorrect="off" autocapitalize="off" autocomplete="username">
    </div>
    <div class="mb-1">
        <label for="txtContrasena">Contraseña:</label>
        <input type="password" class="form-control" id="txtContrasena" name="txtContrasena" autocomplete="current-password">
    </div>
    <div class="mb-1 text-end">
        <button class="btn btn-primary" id="btnIniciarSesion" name="btnIniciarSesion">Iniciar Sesión</button>
    </div>
</form>